<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wzsykj.wuyaojiu">

    <uses-sdk tools:overrideLibrary="com.gc.materialdesign" />
    //materialdesign
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    //友盟权限
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    //百度权限
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".ui.orther.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".utils.UpdateService" />

        <activity
            android:name=".ui.orther.LogoActivity"
            android:theme="@style/AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.orther.WelcomeActivity" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.orther.CityListActivity" />
        <!-- 微信支付相关 start -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent" />
        <!-- 微信支付相关 end -->
        <activity
            android:name=".ui.orther.MainActivity"
            android:theme="@style/AppTheme.NoActionBar.MainActivity" />
        <activity
            android:name=".ui.good.GoodInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.good.SelectActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.good.GoodListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.good.EvaluateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.user.CollectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.good.TimeGoodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.user.OrderListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.user.AddressActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.user.ShareActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.user.BackMoneyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.user.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.order.AddGoodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.order.OrderConfirmActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.order.OrderPayActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.order.PayResultActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.user.AddressEditActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.user.AddressLocationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.user.UserInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.login.PasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />

        <!-- 百度 open -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="VLPrvBex5SiAm5SBgDC8a7ALPnG30c95" />
        <!-- 友盟相关 open -->
        //友盟key
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58d86da4677baa0c2d0003ab" />
        <!--
       //57049ff0e0f55af3f80005d6
         8f252a5e1d7fff45a77037139e5057a1
        -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="c398f7e26f83a823d06e8c3767a20ae8" />
        //友盟页面
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />
        //微信
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        //QQ
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104912007" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 友盟相关 open -->
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".ui.order.DeliveryActivity" />
        <activity android:name=".ui.order.OrderDetailActivity" />
        <activity android:name=".ui.user.RefusedPayActivity" />
        <activity android:name=".ui.user.PingjiaActivity" />
        <activity android:name=".ui.good.WebActivity"></activity>
        <activity android:name=".ui.login.WeiXinLoginActivity" />
        <activity android:name=".ui.user.ChangePassActivity" />
        <activity android:name=".ui.orther.CityListActivity" />
        <activity android:name=".ui.user.ForgetPassActivity" />
        <activity android:name=".ui.good.JsShareActivity" />
        <activity android:name=".ui.orther.TestActivity"></activity>
    </application>

</manifest>